<a href="https://colab.research.google.com/github/jyoo5282/gae-bal-jachwi/blob/main/240131_%ED%98%BC%EA%B3%B5%ED%94%84%EB%A1%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Replit을 권장했지만 그냥 구글콜랍으로,,

print("Hello, World!")

Hello, World!

In [ ]:
print('\n"안녕\"이라고 말했다')
print("혼공"+"파")
print("*"*10)
print(len("77729385439"))
print("KE9011111"[1:3])
print("KE9011111"[0:5])
print("KE9011111"[2:])

"안녕"이라고 말했다
혼공파
**********
11
E9
KE901
9011111

In [ ]:
#문자인덱싱
print("Hello"[3])

l

In [ ]:
print("숫자 데이터(부동 소수점 수 확인 문제")
print("=*"*5 + "=")
print(323.0 ** 60)
print(323.0 // 60)
print(323.0 % 60)

숫자 데이터(부동 소수점 수 확인 문제
=*=*=*=*=*=
3.5657536863853114e+150
5.0
23.0

In [ ]:
print('\n')
data = "안녕하세요"
print(data)
data = "만나서 반가워요"
data = "나한빛입니다"
print(data)

안녕하세요
나한빛입니다

In [ ]:
print(2<3)

True

In [ ]:
my_age = 20
my_money = 10000
print(my_age > 19)
print(my_money >= 25000)
print(my_age >= 19 and my_money >= 25000)

True
False
False

In [ ]:
#03-2. 선택구조를 파이썬으로 코딩하는 방법
weather = "맑음"
print("비가 내리는가?", weather == "비")
if weather == "비":
    print("우산을 가져간다")
else :
    print("우산을 가져가지 않는다")

비가 내리는가? False
우산을 가져가지 않는다

In [ ]:
#03-2. p148

opening = 54700
closing = 55700
diff = closing - opening

if diff>0:
    print('업'+str(diff)) #맥, 구글 코랩에서 화살표 기호 어떻게 넣는지 알려주실 분 ㅠㅜ
elif diff<0:
    print('다운'+str(abs(diff)))
else:
    print("-")

업1000

In [ ]:
# pass 코드

opening = 54700
closing = 55700
diff = closing - opening

if diff > 0:
    pass
    pass
elif diff < 0:
    pass
    pass
else :
    pass
    print(diff)
print("종료!")

종료!

In [ ]:
# 03-2. 확인문제
print(True==True)
print("abc">"ABC")

True
True

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-20-79f91e946b3f>, line 1)

In [ ]:
yo_price = 1800
yo_qty = 4
milk_price = 1500
milk_qty = 2
hr_price = 1000
hr_qty = 3

yo_sales = yo_price * yo_qty
milk_sales = milk_price * milk_qty
hr_sales = hr_price * hr_qty

total_sales = yo_sales + milk_sales + hr_sales
total_qty = yo_qty + milk_qty + hr_qty

print("드링킹 요구르트 매출액: " + str(yo_sales))
print("딸기 우유 매출액: " + str(milk_sales))
print("홈런공 매출액: " + str(hr_sales))
print("-"*20)
print("총매출액: " + str(total_sales))
print("총판매량: " + str(total_qty))

드링킹 요구르트 매출액: 7200
딸기 우유 매출액: 3000
홈런공 매출액: 3000
--------------------
총매출액: 13200
총판매량: 9