<a href="https://colab.research.google.com/github/jyoo5282/gae-bal-jachwi/blob/main/240206_%ED%98%BC%EA%B3%B5%ED%94%84%EB%A1%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
yo_price = 1800
yo_qty = 4
milk_price = 1500
milk_qty = 2

yo_sales = yo_price * yo_qty
milk_sales = milk_price * milk_qty

total_sales = yo_sales + milk_sales
total_qty = yo_qty + milk_qty

print("드링킹 요구르트 매출액:" + str(yo_sales))
print("딸기 우유 매출액:" + str(milk_sales))
print("-" * 20)
print("총매출액:" + str(total_sales))
print("총판매량:" + str(total_qty))

드링킹 요구르트 매출액:7200
딸기 우유 매출액:3000
--------------------
총매출액:10200
총판매량:6

In [ ]:
name_set = ["드링킹 요구르트", "딸기 우유", "홈런공"]
price_set = ["1800, 1500, 1000"]
qty_set = [4, 2, 3]

In [ ]:
lang_set = ["파이썬", "C 언어", "자바", "자바스크립트"]
lang_eng_set = ["Python", "C", "Java", "Javascript"]
menu_set = ["안심구이", "등심구이", "육개장", "물냉면"]
price_set = [39000, 35000, 9000, 8000]

In [ ]:
yo_qty_1 = [15, 16, 20, 29]
yo_qty_2 = [8, 11, 25, 21]
yo_qty_3 = [17, 9, 17, 24]

print("드링킹 요구르트 1월 판매량 합계:" + str(sum(yo_qty_1)))
print("드링킹 요구르트 2월 판매량 합계:" + str(sum(yo_qty_2)))
print("드링킹 요구르트 3월 판매량 합계:" + str(sum(yo_qty_3)))

In [ ]:
yo_qty_2020 = [
    [15,16,20,29],
    [8,11,25,21],
    [17,9,17, 24]
]

In [ ]:
grade = ["1학년", "2학년", "3학년"]
subjects = ["국어", "영어", "수학", "코딩", "체육"]
scores = [
    [85, none, 60, 95, none],
    [90, 80, 70, 95, none],
    [95, 85, 75, 100, 100],
]

In [ ]:
scores = {
    "1학년" : [85, none, 60, 95, none],
    "2학년" : [90, 80, 70, 95, none],
    "3학년" : [95, 85, 75, 100, 100],
}

scores = {
    "1학년" : ["국어":85, "수학":60, "코딩":95],
    "2학년" : ["국어":90, "영어":80, "수학":70, "코딩":95],
    "3학년" : ["국어":95, "영어":85, "수학":75, "코딩":100, "체육":100],
}

scores = {
    "국어" : ["1학년":85, "2학년":90, "3학년":95],
    "수학" : ["1학년":60, "2학년":70, "3학년":75],
    "코딩" : ["1학년":95, "2학년":95, "3학년":100],
    "영어" : ["2학년":80, "3학년":85],
    "체육" : ["3학년":100],
}

In [ ]:
names = ["삼송전자", "하이닉스"]
prices = [
    [50800, 49950, 48900, 47300, 45600, 48100],
    [82800, 82500, 80600, 80400, 73100, 83100],
]

print("-" * 15)

prices {
    "삼송전자" : ["2일":50800, "3일":49950, "4일":48900, "5일":47300, "6일":45600, "9일":48100],
    "헤이닉스" : ["2일":82800, "3일":82500, "4일":80600, "5일":80400, "6일":73100, "9일":83100],
}

In [ ]:
names = ["김치찌개", "떡볶이"]
recipe = [
    ["돼지고기","김치","마늘","대파","청양고추"],
    ["떡","설탕","고추장","간장","고춧가루","대파","어묵"],
]

recipe = {
    "김치찌개" : ["돼지고기, 김치, 마늘, 대파, 청양고추"],
    "떡볶이" : ["떡, 설탕, 고추장, 간장, 고춧가루, 대파, 어묵"],
}

In [ ]:
items = {
    "성명(한글)" : "나한빛",
    "성명(영문)" : "Na Hanbit",
    "주소" : "서울시 서대문구"
    "취미 및 특기" : {"취미": "독서", "특기":"글쓰기"},
    "저서" : {
        "혼공시리즈" : ["혼공프로", "혼공파", "혼공씨", "혼공자바"]
        "이것이 시리즈" : ["이것이 데이터 분석이다 with 파이썬", "이것이 C언어다", "이것이 자바다"],
    },
}

In [1]:
# if 조건문의 조건식 결괏값에 따라 반복 실행하는 구조
count = 1

if count<4:
  print(str(count)+"!")
  count = count+1

1!

In [2]:
count = 1
while count < 4:
    print(str(count)+"!")
    count = count + 1

1!
2!
3!

In [4]:
count = 1
if count <4:
    print(str(count)+"!")
    count = count +1

1!

In [5]:
count = 3
while count >0:
    print(count)
    count = count-1

3
2
1

In [6]:
egg_list = ["달걀1", "달걀2", "달걀3"]
for egg in egg_list:
    print ("달걀 프라이를 만듭니다.")

달걀 프라이를 만듭니다.
달걀 프라이를 만듭니다.
달걀 프라이를 만듭니다.

In [7]:
egg_list = ["달걀1", "달걀2", "달걀3"]
for egg in egg_list:
    print(egg + ": 달걀 프라이를 만듭니다.")

달걀1: 달걀 프라이를 만듭니다.
달걀2: 달걀 프라이를 만듭니다.
달걀3: 달걀 프라이를 만듭니다.

In [8]:
egg_list = range (3)
for egg in egg_list:
    print("달걀 프라이를 만듭니다.")

달걀 프라이를 만듭니다.
달걀 프라이를 만듭니다.
달걀 프라이를 만듭니다.

In [9]:
egg_list = range(3)
for egg in egg_list:
    print(str(egg) + ": 달걀 프라이를 만듭니다.")

0: 달걀 프라이를 만듭니다.
1: 달걀 프라이를 만듭니다.
2: 달걀 프라이를 만듭니다.

In [12]:
egg_list = range(15)
for egg in egg_list:
    print(str(egg) + ": 달걀 프라이를 만듭니다.")

0: 달걀 프라이를 만듭니다.
1: 달걀 프라이를 만듭니다.
2: 달걀 프라이를 만듭니다.
3: 달걀 프라이를 만듭니다.
4: 달걀 프라이를 만듭니다.
5: 달걀 프라이를 만듭니다.
6: 달걀 프라이를 만듭니다.
7: 달걀 프라이를 만듭니다.
8: 달걀 프라이를 만듭니다.
9: 달걀 프라이를 만듭니다.
10: 달걀 프라이를 만듭니다.
11: 달걀 프라이를 만듭니다.
12: 달걀 프라이를 만듭니다.
13: 달걀 프라이를 만듭니다.
14: 달걀 프라이를 만듭니다.

In [13]:
count = range(3)
for n in count:
    print(str(n+1)+"!")

1!
2!
3!

In [15]:
count = range(3)
for n in count:
    print(str(n+1)+"!")
    break
    print("이후의 코드는 처리되지 않습니다.")

1!

In [16]:
count = range(30)
for n in count:
    print(str(n+1)+"!")
    if(n+1) == 3:
        print("그만!")
        break

1!
2!
3!
그만!

In [17]:
count = range(10)
for n in count :
    if (n+1) % 3!= 0:
        continue
    print(str(n+1)+"!")

3!
6!
9!

In [18]:
count = 5
while count >= 0:
    print(str(count)+"!")
    count = count - 1

5!
4!
3!
2!
1!
0!

In [19]:
count = [5,4,3,2,1]
for x in count:
    print(str(x)+"!")

5!
4!
3!
2!
1!

In [20]:
count = range(10)
for n in count :
    if (n+1) % 3 == 0 :
        print("짝!")
    else :
        print(n+1)

1
2
짝!
4
5
짝!
7
8
짝!
10

In [21]:
words = ["혼자", "공부하는", "첫", "프로그래밍", "!"]
for x in words:
    if x =="첫":
        print("첫 프로그래밍!")
        break
    print(x)

혼자
공부하는
첫 프로그래밍!

In [22]:
count = range(20)
for x in count :
    if ((x+1)%10) != 0:
        continue
    print(str(x+1)+"!")

10!
20!

In [23]:
string = "혼공족"
for char in string:
    print(char)

혼
공
족

In [24]:
book_list = ["혼자 공부하는 첫 프로그래밍", "혼자 공부하는 파이썬"]
for book in book_list:
    print(book)

혼자 공부하는 첫 프로그래밍
혼자 공부하는 파이썬

In [25]:
# 여러개의 리스트를 하나의 for 반복문으로 처리하는 방법
name_set = ["드링킹 요구르트", "딸기 우유"]
price_set = [1800, 1500]
qty_st = [4,2]

#데이터 세트의 데이터 개수만큼 반복 처리하는 for 반복문 추가
"""
for 인덱스를 저장할 변수 in [0,1]
    반복처리할 코드
"""
name = name_set[0]
sales = price_set[0]*qty_set[0]
print(name + "매출액:" + str(sales))

name = name_set[1]
sales = price_set[1]*qty_set[1]
print(name + "매출액:" + str(sales))

NameError: name '상품명' is not defined

In [27]:
name_set= ["드링킹 요구르트", "딸기 우유"]
print(name_set[0])
print(name_set[1])

드링킹 요구르트
딸기 우유

In [29]:
name_set = ["드링킹 요구르트", "딸기 우유"]
price_set = [1800, 1500]
qty_set = [4,2]

for i in [0,1]:
    name = name_set[i]
    sales = price_set[i] * qty_set[i]
    print(name + "매출액:" + str(sales))

드링킹 요구르트매출액:7200
딸기 우유매출액:3000

In [30]:
name_set = ["드링킹 요구르트", "딸기 우유", "홈런공"]
price_set = [1800, 1500, 1000]
qty_set = [4,2, 3]

for i in [0,1, 2]:
    name = name_set[i]
    sales = price_set[i] * qty_set[i]
    print(name + "매출액:" + str(sales))

드링킹 요구르트매출액:7200
딸기 우유매출액:3000
홈런공매출액:3000

In [31]:
name_set = ["드링킹 요구르트", "딸기 우유", "홈런공"]
for i in [0,1,2]:
    print(name_set[i])

print("-"*10)

name_set = ["드링킹 요구르트", "딸기 우유", "홈런공"]
for i in range(3):
    print(name_set[i])

드링킹 요구르트
딸기 우유
홈런공
----------
드링킹 요구르트
딸기 우유
홈런공

In [32]:
book_list = ["혼자 공부하는 첫 프로그래밍", "혼자 공부하는 파이썬"]
print(len(book_list))

count_down = [10, 9, 8, 7,6,5,4,3,2,1]
print(len(count_down))

2
10

In [33]:
name_set = ["드링킹 요구르트", "딸기 우유"]
price_set = [1800, 1500]
qty_set = [4,2]

for i in range(len(name_set)):
    name = name_set[i]
    sales = price_set[i]*qty_set[i]
    print(name + "매출액:"+str(sales))

드링킹 요구르트매출액:7200
딸기 우유매출액:3000

In [34]:
name_set = ["드링킹 요구르트", "딸기 우유", "홈런공"]
price_set = [1800, 1500, 1000]
qty_set = [4,2, 3]

for i in range(len(name_set)):
    name = name_set[i]
    sales = price_set[i]*qty_set[i]
    print(name + "매출액:"+str(sales))

드링킹 요구르트매출액:7200
딸기 우유매출액:3000
홈런공매출액:3000

In [35]:
book_list = ["혼자 공부하는 첫 프로그래밍", "혼자 공부하는 파이썬"]
print(book_list[0])
print(book_list[1])

book_dict = {"입문자용": "혼자 공부하는 첫 프로그래밍", "초보자용": "혼자 공부하는 파이썬"}
print(book_dict["입문자용"])
print(book_dict["초보자용"])

혼자 공부하는 첫 프로그래밍
혼자 공부하는 파이썬
혼자 공부하는 첫 프로그래밍
혼자 공부하는 파이썬

In [37]:
book_list = ["혼자 공부하는 첫 프로그래밍", "혼자 공부하는 파이썬"]
for book in book_list:
    print(book)

print("-"*10)

book_dict = {
    "입문자용" : "혼자 공부하는 첫 프로그래밍",
    "초보자용" : "혼자 공부하는 파이썬",
}
for book in book_dict:
    print(book)

print("-"*10)

book_dict = {
    "입문자용": "혼자 공부하는 첫 프로그래밍",
    "초보자용": "혼자 공부하는 파이썬",
}
for book in book_dict:
    print(book_dict[book])

혼자 공부하는 첫 프로그래밍
혼자 공부하는 파이썬
----------
입문자용
초보자용
----------
혼자 공부하는 첫 프로그래밍
혼자 공부하는 파이썬

In [39]:
mos_qty = {
    "2020년6월": [9,5,14,8],
    "2020년7월": [15,6,17,15],
    "2020년8월": [26,18,26,10]
}

for month in mos_qty:
    total = sum(mos_qty[month])
    print(month + "판매량:"+str(total))

2020년6월판매량:36
2020년7월판매량:53
2020년8월판매량:80

In [40]:
coffee = "플랫화이트"
for x in coffee:
    print(x)

플
랫
화
이
트

In [41]:
count = [1,2,3,4,5,6,7,8,9,10]
for x in count:
    if x % 2 ==0:
        print(str(x)+"!")

2!
4!
6!
8!
10!

In [42]:
five = range(5)
for x in five :
    print((x+1)*3)

3
6
9
12
15

In [44]:
order = ["아메리카노", "플랫화이트", "화이트 초콜릿 모카"]
price = [3100, 4100, 4600]
for x in range(3):
    print(order[x]+":"+str(price[x]))

아메리카노:3100
플랫화이트:4100
화이트 초콜릿 모카:4600

In [52]:
order = ["아메리카노", "플랫 화이트", "화이트 초콜릿 모카"]
price = {
    "아메리카노": 3100,
    "플랫 화이트": 4100,
    "화이트 초콜릿 모카": 4600
}

for x in order:
    print(x + ":" +str(price[x]))

아메리카노:3100
플랫 화이트:4100
화이트 초콜릿 모카:4600

In [53]:
numbers = [[1,2,3], [4,5,6]]

for row in numbers:
    total = 0
    for x in row:
        total = total + x
    print(total)

6
15

In [55]:
menu = {
    "오늘의 커피": 2800,
    "아메리카노": 3100,
    "카푸치노": 3600,
    "화이트 초콜릿 모카": 4600,
    "플랫 화이트": 4100,
}

my_order = {
    "플랫 화이트": 2,
    "화이트 초콜릿 모카": 1,
}

for x in my_order:
    price = menu[x]
    qty = my_order[x]
    total = price * qty
    print(x + "" + str(qty) + "잔, 합계:" + str(total))

플랫 화이트2잔, 합계:8200
화이트 초콜릿 모카1잔, 합계:4600

In [56]:
# 함수 만들기
def print_names():
    print("커피 장인")
    print("여의도 본점")

print_names()

커피 장인
여의도 본점

In [59]:
def get_shop_name():
    return "커피 장인"

print(get_shop_name())

print("-"*10)

def get_shop_name():
    return "커피 장인"

def get_branch_name():
    return "여의도 본점"

def print_names():
    print(get_shop_name())
    print(get_branch_name())

print_names()

커피 장인
----------
커피 장인
여의도 본점

In [60]:
def no_return():
    pass

def no_return_value():
    return

print(no_return())
print(no_return_value())

None
None

In [62]:
def add(x,y):
    return x+y

print(add(3,2))

5

In [64]:
order_detail = []

def make_order(name, qty):
    order_detail.append({"이름":name, "수량":qty})

print(order_detail)
make_order("아메리카노", 2)
make_order("플랫 화이트", 1)
print(order_detail)

print("-"*10)

numbers = [1,3,5,7,9]
numbers.append(2)
print(numbers)

[]
[{'이름': '아메리카노', '수량': 2}, {'이름': '플랫 화이트', '수량': 1}]
----------
[1, 3, 5, 7, 9, 2]

In [65]:
def no_return():
    pass

def no_return_value():
    return

print(no_return())
print(no_return_value())

None
None

In [66]:
def print_elements(arg):
    for x in arg:
        print(x)

print_elements(["Sun", "is", "rising"])

Sun
is
rising

In [68]:
def power(base, exp):
    return base ** exp

print(power(3,2))
print(power(10,-2))

9
0.01

In [70]:
def square(dataset):
    result = []
    for x in dataset:
        result.append(x*x)
    return result

print(square([3,2,5]))
print(square([323,60]))

[9, 4, 25]
[104329, 3600]

In [71]:
def dict_to_list(dataset):
    result = []
    for x in dataset:
        result.append([x, dataset[x]])
    return result

data = {"my_key": "my_value", "your_key": "your_value"}
print(dict_to_list(data))

[['my_key', 'my_value'], ['your_key', 'your_value']]

In [72]:
def count_down(number):
    result = []
    for x in range(number):
        result.append(number - x)
    return result

print(count_down(10))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [74]:
def is_odd_number(arg):
    if arg % 2 == 1:
        return True
    return False

print(is_odd_number(3))
print(is_odd_number(2))

True
False

In [75]:
def get_bordered_str(arg):
    result = ""
    sep = "*"
    length = len(arg)
    result = result + (sep * (length + 4) + "\n")
    result = result + (sep + "" + arg + "" + sep +"\n")
    result = result + (sep * (length + 4))
    return result

print(get_bordered_str("Hello, World!"))
print(get_bordered_str("323"))

*****************
*Hello, World!*
*****************
*******
*323*
*******

In [76]:
def get_sum_and_average(arg):
    length = len(arg)
    if length == 0:
        return "[오류] 요소의 개수가 0 입니다."

    total = 0
    for x in arg:
        total = total + x
    return {"합계": total, "평균": total / length}

print(get_sum_and_average([]))
print(get_sum_and_average([3,2]))
print(get_sum_and_average([-1, 0, 1, 2, 3]))

[오류] 요소의 개수가 0 입니다.
{'합계': 5, '평균': 2.5}
{'합계': 5, '평균': 1.0}

In [77]:
def convert_seconds(arg):
    if arg < 60:
        #60초 미만이라면, 초만 출력
        return str(arg) + "초"

    seconds = arg % 60
    minutes = arg //60
    if minutes < 60:
        #60분 미만이라면, 분과 초를 출력
        return str(minutes) + "분" + str(seconds) + "초"

    #그 외의 경우, 시간, 분, 초를 출력
    hours = minutes // 60
    minutes = minutes % 60
    return str(hours) + "시간" + str(minutes) + "분" + str(seconds) + "초"

print(convert_seconds(3))
print(convert_seconds(60))
print(convert_seconds(323))
print(convert_seconds(60*60+323*2))

3초
1분0초
5분23초
1시간10분46초

In [78]:
def is_odd(arg):
    if arg % 2 == 1:
        return True
    return False

print(is_odd(3))
print(is_odd(2))

True
False

In [79]:
def get_sum_of_two_numbers(start, end):
    result = 0
    for x in range(start, end+1):
        result = result + x
    return result

print(get_sum_of_two_numbers(1, 10))
print(get_sum_of_two_numbers(1, 100))

55
5050

In [80]:
def print_hashes(rows):
    for x in range(rows):
        print("#" * (x+1))

print_hashes(3)

#
##
###

In [81]:
def print_reverse_hashes(rows):
    for x in range(rows) :
        count = x+1
        print(" " * (rows - count) + "#" * count)

print_reverse_hashes(4)

   #
  ##
 ###
####

In [82]:
def replace_digits(str_):
    return str_[:9] + "****"

print(replace_digits("010-1234-5678"))
print(replace_digits("010-9876-5432"))

010-1234-****
010-9876-****