<a href="https://colab.research.google.com/github/jyoo5282/gae-bal-jachwi/blob/main/240208_%ED%98%BC%EA%B3%B5%ED%8C%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 하나만 출력합니다.
print("#하나만 출력합니다.")
print("Hello Python Programming...!")
print()

# 여러 개를 출력합니다.
print("#여러 개를 출력합니다.")
print( 10,20,30, 40, 50)
print("안녕하세요", "저의", "이름은", "유지은입니다!")
print()

# 아무것도 입력하지 않으면 단순하게 줄바꿈 합니다.
print("#아무것도 입력하지 않습니다.")
print("--- 확인 전용선 ---")
print()
print()
print("--- 확인 전용선 ---")

#하나만 출력합니다.
Hello Python Programming...!

#여러 개를 출력합니다.
10 20 30 40 50
안녕하세요 저의 이름은 유지은입니다!

#아무것도 입력하지 않습니다.
--- 확인 전용선 ---


--- 확인 전용선 ---

In [ ]:
input("인삿말을 입력하세요>")

인삿말을 입력하세요>안녕하세요

'안녕하세요'

In [ ]:
string = input("인사말을 입력하세요>")

print(string)

인사말을 입력하세요>안녕하세요!
안녕하세요!

In [ ]:
print(type(string))

<class 'str'>

In [ ]:
# 입력을 받습니다.
string = input("입력>")

# 출력합니다.
print("자료:", string)
print("자료형:", type(string))

입력>123
자료: 123
자료형: <class 'str'>

In [ ]:
string_a = input("입력A>")
int_a = int(string_a)

string_b = input("입력B>")
int_b = int(string_b)

print("문자열 자료:", string_a + string_b)
print("숫자 자료:", int_a + int_b)

입력A>53
입력B>1234
문자열 자료: 531234
숫자 자료: 1287

In [ ]:
output_a = int("52")
output_b = float("52.273")

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'int'> 52
<class 'float'> 52.273

In [ ]:
input_a = float(input("첫번째 숫자>"))
input_b = float(input("두번째 숫자>"))

print("덧셈 결과:", input_a + input_b)
print("뺄셈 결과:", input_a - input_b)
print("곱셈 결과:", input_a * input_b)
print("나눗셈 결과:", input_a / input_b)

첫번째 숫자>34956
두번째 숫자>2834
덧셈 결과: 37790.0
뺄셈 결과: 32122.0
곱셈 결과: 99065304.0
나눗셈 결과: 12.334509527170077

In [ ]:
# inch 단위를 cm 단위로 변경하기

# 숫자를 입력받습니다.
raw_input = input("inch 단위의 숫자를 입력해주세요:")

# 입력받은 데이터를 숫자 자료형으로 변경하고, cm 단위로 변경합니다.
inch = int(raw_input)
cm = inch * 2.54

# 출력합니다.
print(inch, "inch는 cm단위로", cm, "cm입니다.")

inch 단위의 숫자를 입력해주세요:2345
2345 inch는 cm단위로 5956.3 cm입니다.

In [ ]:
# 변수교체 swap
a = input("문자열 입력>")
b = input("문자열 입력>")

print(a,b)
c = a
a = b
b = c
print(a,b)

문자열 입력>안녕하세요
문자열 입력>아침입니다
안녕하세요 아침입니다
아침입니다 안녕하세요

In [ ]:
# format() 함수로 숫자를 문자열로 변환하기
format_a = "{}만원".format(5000)
format_b = "파이썬 열공하여 첫 연봉 {}만원 만들기".format(5000)
format_c = "{} {} {}".format(3000, 4000, 5000)
format_d = "{} {} {}".format(1, "문자열", True)

# 출력하기
print(format_a)
print(format_b)
print(format_c)
print(format_d)

5000만원
파이썬 열공하여 첫 연봉 5000만원 만들기
3000 4000 5000
1 문자열 True

In [ ]:
# 정수를 특정 칸에 출력하기
output_a = "{:d}".format(52)  # {:d}는 int 자료형의 정수를 출력하겠다고 직접적으로 지정하는 것임. 따라서 매개변수로 정수만 올 수 있음.

# 특정 칸에 출력하기
output_b = "{:5d}".format(52)
output_c = "{:10d}".format(52)

# 빈칸을 0으로 채우기
output_d = "{:05d}".format(52)
output_e = "{:05d}".format(-52)

print("# 기본")
print(output_a)
print("# 특정 칸에 출력하기")
print(output_b)
print(output_c)
print("# 빈칸을 0으로 채우기")
print(output_d)
print(output_e)

# 기본
52
# 특정 칸에 출력하기
   52
        52
# 빈칸을 0으로 채우기
00052
-0052